<main class="mt-5 container-background">
  <section class="section-1 tables-container">
    <div class="section-1-main">
      <div class="section-1-content">
        <h1
          class="section-1-title"
          style="font-weight: bolder; font-style: italic; font-size: 4rem"
        >
          WELLCOME TO
        </h1>
        <h1
          class="section-1-title mb-3"
          style="font-weight: bolder; font-style: italic; font-size: 3.7rem"
        >
          SUPPLEMENT SHOP
        </h1>
        <h1
          class="section-1-title"
          style="font-weight: bolder; font-size: 2rem"
        >
          SHOP ALL DEALS
        </h1>
        <ul class="section-1-lists">
          <li>
            <img
              src="https://rvs-landing-page.vercel.app/assets/Checkmark.svg"
              alt=""
            />
            <span>Receive 99% off the earnings.</span>
          </li>
          <li>
            <img
              src="https://rvs-landing-page.vercel.app/assets/Checkmark.svg"
              alt=""
            />
            <span>Get paid via Debit Card, ACH, or PayPal.</span>
          </li>
          <li>
            <img
              src="https://rvs-landing-page.vercel.app/assets/Checkmark.svg"
              alt=""
            />
            <span>Withdraw your earnings anytime.</span>
          </li>
        </ul>
        <div class="section-1-form">
          <a
            class="section-1-button"
            style="text-decoration: none"
            (click)="navigateToItems()"
            ><strong>Get Started</strong>
          </a>
        </div>
      </div>
      <div class="section-1-img">
        <picture>
          <source
            media="(min-width:1024px)"
            srcset="../../assets/images/home2.jpeg"
          />
          <source
            media="(min-width:600px)"
            srcset="../../assets/images/home2.jpeg"
          />
          <img
            src="../../assets/images/home2.jpeg"
            alt="Flowers"
            style="width: auto"
          />
        </picture>
      </div>
    </div>
  </section>

  <section class="section-2">
    <div class="section-2-main">
      <div class="section-2-images"></div>
      <div class="section-2-1">
        <div class="section-2-1-content">
          <h1 class="section-2-1-title">
            Better Solutions For Bone and Joints Pain
          </h1>
          <p class="section-2-1-desc">
            We have everything you need to support your bone and joint wellness
            journey.
          </p>
          <a
            class="section-2-1-link"
            (click)="navigateToItems()"
            style="cursor: pointer"
            >Explore Our Wide Range Of Products. &#x27F6;</a
          >
        </div>
        <div class="section-2-1-img">
          <picture>
            <source
              media="(min-width:1024px)"
              srcset="../../assets/images/home3.jpeg"
            />
            <source
              media="(min-width:600px)"
              srcset="../../assets/images/home3.jpeg"
            />
            <img
              src="../../assets/images/home3.jpeg"
              alt="Flowers"
              style="width: auto"
            />
          </picture>
        </div>
      </div>
      <div
        class="section-3-1"
        style="
          background-image: linear-gradient(
            to top right,
            rgba(247, 246, 247, 255),
            rgba(199, 198, 198, 100)
          );
        "
      >
        <div class="section-3-1-img" style="width: 25%">
          <picture>
            <img
              src="../../assets/images/home6.jpeg"
              alt="Flowers"
              style="
                width: auto;
                box-shadow: 0px 0.5px 5px black;
                border-radius: 3px;
              "
            />
          </picture>
        </div>
        <div class="section-3-1-content">
          <h1 class="section-3-1-title">Your Well-being Is Our Priority</h1>
          <p class="section-3-1-desc">
            We're here to assist you every step of the way
          </p>
          <p class="section-3-1-desc">
            Thank you for choosing us as your partner in bone and joint health.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
