<!-- Button trigger modal -->
<button type="button" class="btn btn-danger mb-1 me-3" (click)="toggle()">
  <span>
    <i class="fa fa-trash" style="color: #ffffff"></i>
  </span>
</button>

<div class="modal" tabindex="-1" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="toggle()"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are You Sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="toggle()">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="Delete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
