<!-- <div class="container p-4"> -->
<div class="p-4 mt-5 container-background">
  <div class="row pb-4">
    <div class="col"></div>
    <div class="col text-end pt-1">
      <a
        *ngIf="hasPermission"
        class="btn btn-outline-primary p-2"
        (click)="onCreateItem()"
        ><i class="bi bi-plus-square-fill"></i> Create New Item</a
      >
    </div>
  </div>

  <app-search (search)="onSearch($event)"></app-search>

  <!--TRY-->
  <section
    class="container-fluid d-md-flex row-cols-sm-12 mt-5 mb-5 d-flex justify-content-around flex-wrap"
  >
    <app-itemcard
      *ngFor="let item of items"
      [item]="item"
      class="col-sm-8 col-md-5 col-lg-3 me-3 mt-4 mb-4 d-flex flex-column"
    ></app-itemcard>
  </section>
  <app-pagination
    [totalCount]="totalCount"
    [currentPage]="currentPage"
    (changeCurrentPage)="ChangeCurrentPage($event)"
  ></app-pagination>
</div>
