<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 col-10">
      <form class="form mt-5 mb-5 py-4" method="post">
        <div class="container p-4">
          <p class="form-title">Sign in to your account</p>
          <div class="row text-center">
            <div>
              <app-spinner *ngIf="isLoading"></app-spinner>
              <ul
                class="text-danger"
                style="list-style-type: none; padding-left: 0"
              >
                <li *ngIf="hasError">{{ errorMessage }}</li>
              </ul>
            </div>
          </div>
          <div class="input-container">
            <input
              name="username"
              type="text"
              class="form-control me-5"
              placeholder="Username..."
              [(ngModel)]="loginData.UserName"
            />
          </div>
          <div class="input-container">
            <input
              name="password"
              type="password"
              id="inputPassword"
              class="form-control"
              placeholder="Password..."
              [(ngModel)]="loginData.Password"
            />
          </div>
          <button class="submit col-12 mt-4" type="submit" (click)="onLogin()">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
